.app {
  &__ajax-loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;

    .ajax-loader {
      &__img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }

  &__cookie-info {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
  }

  &__form {
    margin: 0 0 1.5625rem;
    padding: 0;

    @media screen and (min-width: 768px) {
      z-index: 2;
      margin: 0;
      padding-left: 1.5625rem;
    }
  }

  &__content {
    @extend .col;
    overflow: hidden;
    margin: 0 0 1.5625rem 0;

    .content {
      &__inner {
        @media screen and (min-width: 768px) {
          padding-right: 1.5rem;
        }
      }
    }

    @media screen and (min-width: 768px) {
      margin: 0;
      padding: 0 0 0 2.875rem;
    }
  }

  &__inner {
    @media screen and (min-width: 768px) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 1.5625rem 0;
    }
  }
}
