.navbar {
  padding: 1.1875rem 1.5625rem .25rem;
  background-color: #fff;
  border: 1px solid #e6eaee;

  &__result-info {
    margin: 0 .9375rem .9375rem 0;
    font-size: 1.0625rem;

    @media screen and (min-width: 768px) {
      margin-right: 1.5625rem;
    }
  }

  &__ajax-loader {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: .9375rem;
    }
  }

  &__nav {
    margin: 0 0 .9375rem;

    @media screen and (min-width: 768px) {
      margin-left: auto;
    }
  }
}
