$ui-slider-height: .5rem;
$ui-handle-side: 1rem;

.ui-slider {
  position: relative;
  height: $ui-slider-height;
  background: rgba(#fff, .1);

  &-range {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #2a3547;
  }

  &-handle {
    position: absolute;
    top: #{ $ui-slider-height / 2 };
    transform: translateY(-50%);
    margin: 0 0 0 -#{ $ui-handle-side / 2 };
    width: $ui-handle-side;
    height: $ui-handle-side;
    background-color: #2ea1f8;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;

    &.ui-state {
      &-active {
        background-color: rgba(#2ea1f8, .8);
      }
    }
  }
}
